.dot-slider{
    border: 0px;
    background: transparent;
    font-size: 12px;
    color: #CDD0D2;
}

.arrow-slider{
    border: 0px;
    background: transparent;
    font-size: 13px;
    color: #CDD0D2;
}