#body{
    margin:0px;
}

.header-botones{
    width: 100%; height: 467px;
}

#logo{ 
    background:transparent;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

#lema{
    background:transparent;
    width: 400px;
    margin-right: auto;
    margin-left:auto;
}
.lema-trivago{
    text-align: center;
    vertical-align: center;
    font-size:1.25em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color:rgb(79, 85, 85);
}


.busqueda{
    width: 100%;
    height: 50px;
    text-align: center;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
.searchingbar{
    display: inline-block;
    margin-top: 30px;
    padding: 0px;
}
.search-bar{
    width: 398px;
    height: 44px;
    padding: 0px;
    border-color: #ECEDED;
    float:left;
    font-size: 1em;
    color: rgb(45, 41, 51);
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    box-shadow: 0 1px 4px 0 rgba(41,51,57,.5);
    border-radius: 2px 0px 0px 2px;
    cursor:text;
    
}

.search-btn{
    display:flex;
    float:left;
    width: 103px;
    height: 44px;
}

.buscar-btn{
    float:left;
    width: 103px;
    background-color: rgb(0,127,173);
    color: white;
    font-size: 1em;
    font-weight: 700;
    font-family: sans-serif;
    border-top: none; border-left: none; border-right: none;
    box-shadow: 1px 1px 4px rgba(41,51,57,.5);       
    border-radius: 0 2px 2px 0;
    border-bottom-color: rgba(0, 95, 129, 0.5);
    border-bottom-width: 0.5px;
    cursor: pointer;
}

.buscar-btn:hover{
    background-color: #005F81; 
}

.menu-button input[type="button"]:focus{
    color: rgb(60, 66, 66);
    background-color: #ebeced;
    outline: 1px dotted #37454d;
    outline-offset: -3px;
}

.search-bar:focus{
    outline: 1px dotted #37454d;
    outline-offset: -3px;
}

.buscar-btn:focus{
        outline: 1px dotted white;
        outline-offset: -3px;
    }

.menu-button input[type="button"]{
    height:100%;
    padding: 0;
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    color: rgb(60, 66, 66);
    line-height: 64px;
    align-items: center;
    justify-content: center;
}
.menu-button{
    float: left;
    
}
#logo-footer{
    background: transparent;
    width: 103px; height: 32px;
    margin-left:auto;
    margin-right: auto;
    align-content: center;
}


.copyright-footer{
    width:100%;
    height: 15px;
    margin-top: 8px;
    text-align: center;
    vertical-align: center;
    color: #9BA2A6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}




#footer{
    background: #293339;
    width: 100%; 
    height: 531px; 
    padding-top: 32px; 

}

.footer-registro-email{
    width: 948px; 
    height: 78px; 
    padding: 0px 16px; 
    margin:0px auto 32px auto;
    
}

.subs-form{
    width: 948px;
    height: 72px;
    margin-bottom: 36px;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(105, 115, 121);

}

.subs-section {
    width: 474px;
    height: 76px;
    box-sizing: border-box;
    float:left; 
    justify-content: stretch;
}

.suscripciones{
    width: 458px;
    height: 26px;
    padding-right: 16px;
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 0.9em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.subs-email{
    width: 474px;
    height: 76px;
    box-sizing: border-box;
    float: right;
}

.email-promos{
width: 335px;
height: 42px;
margin-bottom: 32px;
padding: 0px 12px;
border-width: 1px;
color: rgb(44, 44, 44);
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 2px 0 0 2px;
}

.email-promos:hover{
    cursor:text;
}
.email-promos:focus{
outline: 1px dotted black;
outline-offset: -3px;
}



.suscribirse-btn{
    float: right;
    width: 113px;
    height: 44.2px;
    padding: 13px 13px 11px 13px;
    border: 0px;
    border-radius: 2px;
    background: #697379;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

.suscribirse-btn:hover {
    cursor: pointer;
    background: #37454D;
    
}

.suscribirse-btn:active {
    background: #37454D;
}

.suscribirse-btn:focus{
    background: #37454D;
    outline: 1px dotted white;
    outline-offset: -3px;
}

.subs-text{
    color:white;
    
    font-weight: 700;
}

.footer-direction{
    width: 980px; 
    height: 122px; 
    margin-left: auto; 
    margin-right: auto;
}

.direction{
    width:622px;
    height: 122px;
    padding: 0px 16px;
    float: left;

}

.footer-address{
    width: 605px;
    height: 22px;
    padding-right: 16px;
    margin-bottom: 32px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
}

.social-media{
    width: 621px;
    height: 36px;
    margin-bottom: 32px;
}

.footer-others{
    width: 980px; 
    height: 164px; 
    padding-bottom:16px; 
    margin-right:auto; 
    margin-left:auto;
}

.footer-logo-copyright{
    height: 55px; 
    padding:32px; 
    background: #37454D;
}