#logo{ 
    background:white;
    width: 190px;
    margin-right: auto;
    margin-left:auto;
}

#lema{
    background:white;
    width: 400px;
    margin-right: auto;
    margin-left:auto;
}
.lema-trivago{
    text-align: center;
    vertical-align: center;
    font-size:20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color:rgb(60, 66, 66);
}

.menu-button input[type="button"]{
    height:100%;
    padding: 0;
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    color: rgb(60, 66, 66);
    line-height: 64px;
    align-items: center;
    justify-content: center;
}
.menu-button{
    float: left;
    
}