#logo{ 
    background:transparent;
    width: 200px;
    margin-right: auto;
    margin-left: auto;

}

#lema{
    background:transparent;
    width: 400px;
    margin-right: auto;
    margin-left:auto;
}
.lema-trivago{
    text-align: center;
    vertical-align: center;
    font-size:1.3em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color:rgb(79, 85, 85);
}

.menu-button input[type="button"]{
    height:100%;
    padding: 0;
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    color: rgb(60, 66, 66);
    line-height: 64px;
    align-items: center;
    justify-content: center;
}
.menu-button{
    float: left;
    
}
#footer{
    width: 100%; 
    height: 531px; 
    padding-top: 32px; 
    
}

#logo-footer{
    background: transparent;
    width: 103px; height: 32px;
    margin-left:auto;
    margin-right: auto;
    align-content: center;
}

.copyright-footer{
    width:100%;
    height: 15px;
    margin-top: 8px;
    text-align: center;
    vertical-align: center;
    color: #9BA2A6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}