.dot-slider{
    border: 0px;
    background: transparent;
    font-size: 12px;
    color: #CDD0D2;
}

.arrow-slider{
    border: 0px;
    background: transparent;
    font-size: 15px;
    color: #697379;
}

.arrow-slider-unactive{
    cursor: default !important;
    color:#CDD0D2 !important;
}

.dot-slider-active{
    color: #697379 !important;

}

hr{
    margin-top: -1px;
}