#body{
    margin:0px;
}

.search-bar-icon{
    background: url(../img/lupa.png) no-repeat scroll 11px 11px;
}   

.icon-arrow{
    background: url(../img/arrow.png) no-repeat;
    background-position: 98% 50%;
}

#logo{ 
    background:transparent;
    width: 180px;
    height: 72px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

#lema{
    background:transparent;
    width: 400px;
    margin-right: auto;
    margin-left:auto;
}
.lema-trivago{
    text-align: center;
    vertical-align: center;
    font-size:1.25em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25;
    color:rgb(79, 85, 85);
}

.popover-div{
    width: auto;
    min-width: 200px;
    max-width: 1280px; 
}

.popover-custom{
    left: 50%;
    transform: translateX(-15%);
    top: 100%;
    margin-top: -11px;
    display: none;
}

.popover{
    background: white;
    border-radius: 2px;
    box-shadow: 0 10px 30px rgba(41,51,57,.75);
    display: inline-block;
    pointer-events: auto;
    position: relative;
    animation: fade-in .35s cubic-bezier(.4,0,.2,1);
}
.menu-idioma{
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.menu-list{
    padding: 4px;
    z-index: 4;
    margin-bottom: 0px;
}

.menu-item {
    font-size: 14px;
    height: 44px;
    display: flex;
    border-bottom: 1px solid #ebeced;
    padding: 13px 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 115px;
    justify-content: center;
}
 .micon{
    /* display: none; */
    font-size: 14px;
    height: 44px;
    padding: 13px 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px !important;
    margin-left: auto;
    float:right;
    display: none;
} 

.btn-menu{
    width: 100px;
    height: 44px;
    border: none;
    background: transparent;
    margin-top: -12px; 
    font-family: arial;
    font-size: 14px;
    
}



.menu-item:hover{
    background-color: #EBECED;
    cursor: pointer;
}



.option{
    background-color: white;  
}

.busqueda{
    width: 100%;
    height: 50px;
    text-align: center;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
}
.searchingbar{
    display: flex;;
    margin-top: 30px;
    padding: 0px;
    /* margin: 30px 430px 0px 430px; */
    justify-content: center;
}
.search-bar{
    width: 281px;
    height: 44px;
    padding: 0px;
    border-color: rgb(165, 170, 173);
    float:left;
    font-size: 1.1em;
    color: rgb(45, 41, 51);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px 0px 0px 2px;
    cursor:text;
    margin-right: 7px;
    padding-left:40px;
}

.search-btn{
    float:left;
    width: 95px;
}

#essentials {
    margin: 0px;
    display: inline-flex;
    justify-content: space-between;
}

.essentials {
    width: 200px;
    height: 41px;
    float: left;
    margin: 0px;
}

.calendar{
    border: 1px solid #9BA2A6;
    height: 44px;
    border-radius: 2px;
    margin: 0px 5x;
    margin-right: 7px;
}

#checkin {
    width: 180px;
    background-image: url("../img/calendar1.svg");
    background-position: 9px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 32px;
    border: none;
    flex: 1 1 0;
    border-right: 1px solid #9BA2A6;
    outline: 0;
    appearance: none;
}

#checkout {
    width: 179px;
    background-position: 9px center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    padding-left: 32px;
    border: none;
    flex: 1 1 0;
    outline: 0;
    appearance: none;
}
#rooms {
    border: none;
    border-radius: 2px;
    flex: 1 1 0;
    height: 44px;
    border: 1px solid #9BA2A6;
    margin-right: 7px;
    outline: 0;
    -webkit-appearance: none;
    padding: 0px 15px;
}

.buscar-btn{
    float: left;
    height: 44px;
    width: 97px;
    background-color: rgb(0,127,173);
    color: white;
    font-size: 1em;
    font-weight: 700;
    font-family: sans-serif;
    border-top: none; border-left: none; border-right: none;    
    border-radius: 0 2px 2px 0;
    border-bottom-color: rgba(0, 95, 129, 0.5);
    border-bottom-width: 0.5px;
    cursor: pointer;
}

.buscar-btn-anchor, .buscar-btn-anchor:hover{
 color: white;
 text-decoration: none;
}

.buscar-btn-anchor-lupa, .buscar-btn-anchor-lupa:hover{
    color: white;
    text-decoration: none;
    display:none;
}

.buscar-btn:hover{
    background-color: #005F81; 
}

.menu-btn:focus{
    color: rgb(60, 66, 66);
    background-color: #ebeced;
    outline: 1px dotted #37454d;
    outline-offset: -1px;
}

.search-bar:focus{
    outline: 1px dotted #37454d;
    outline-offset: -3px;
}


#moneda-btn{
    width: 65px; 
    padding: 0px 16px 0px 16px;
    -webkit-appearance: none;
}

#idioma-btn{
    width: 65px; 
    padding: 0px 16px 0px 16px;
    -webkit-appearance: none;
}

.buscar-btn:focus{
        outline: 1px dotted white;
        outline-offset: -3px;
    }

.menu-btn{
    height:100%;
    padding: 0;
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.88em;
    color: rgb(60, 66, 66);
    line-height: 64px;
    align-items: center;
    justify-content: center;
}
.menu-button{
    float: left;
}

.body-content{
    width: 1100px; 
    height: 1390.90px; 
    margin: 0px auto; 
    margin-top: 650px;
}

.categories{
 margin-top: 0px;
 padding-left: 0px;
}

.btn-list{
    display: inline-block;
    
}

.btn-list-active{
    border-bottom-color:#37454d !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.body-categories{
    height: 49px;
    /* border-bottom-width: 0.5px;
    border-bottom-style: solid;
    border-bottom-color: #CDD0D2; */
}


.body-title{
    color:#007FAD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.33em;
    font-weight: 700;
}

.categories-btn{
    height: 48px;
    background-color: transparent;
    border:none;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #697379;
    cursor: pointer;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    outline: 0;
    overflow: hidden;
    position: relative;
}

.categories-btn:focus{
    color: #37454d;
    border: none;
    background-color: #EBECED;
    border-bottom-color: #37454D;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    outline: 0;
}

.categories-btn:hover{
    color: #37454D;
    background-color: #EBECED;
    border: none;
    border-bottom-color: #37454D;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.opt-hoteles{
    height: 424px;
}

#destinations1{
    display:none;
}

#destinations-btn1{
    display:none;
}

.slider-control{
    margin: 0px 485px;
}

#dot-slider7{
    display: none;
} 
#dot-slider8{
    display:none;
}

.destinos-ciudades{
    width: 261px;
    height: 258px;
    background: black;
    margin: 6.85px;
    background-size: cover;
    background-repeat: no-repeat;
}

.list-des{
    display: inline-block;
    padding: 0px;
}

.destinos{
 display: inline-block
}

.link-hoteles{
    color: black;
}

.link-hoteles:hover{
    color: black;
    border-bottom-width: 5px;
}


.hoteles-en{
    font-weight: bold;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 7px;
}

.hoteles-promos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px 7px;
}

.parrafo-info{
    padding: 0px 8px 0px 0px;
    /* display: inline-table; */
}

.h3, .h3-tri{
    color: #007FAD;
    font-size:20px !important;
    font-weight: bold !important;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.h3-tri{
box-sizing: border-box;
width: 500px;
}

.texto{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   margin-top: 16px;
   margin-bottom: 16px;
   /*width: 529px;*/
   line-height: 1.5;
}

.link-cities, .link-trivago-inter{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link-cities:hover, .link-trivago-inter:hover{
    text-decoration-color: black;
    color: black;
}

.cities, .internacional{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
}

.top-cities, .trivago-inter{
/* width: 533px; */
height: 132px; 
overflow: auto;
text-overflow: ellipsis;
padding: 0px;
}

.trivago-inter-section, .top-cities-section{
    float:left;
    padding: 0px 8px;
}

#logo-footer{
    background: transparent;
    width: 103px; 
    height: 32px;
    margin-left:auto;
    margin-right: auto;
    align-content: center;
}


.copyright-footer{
    width:100%;
    height: 15px;
    margin-top: 8px;
    text-align: center;
    vertical-align: center;
    color: #9BA2A6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}

#footer{
    background: #293339;
    padding-top: 32px; 

}

.footer-registro-email{
    display:flex;
    justify-content: center;
    height: 78px; 
    padding: 0px 16px; 
    margin:0px auto 32px auto;
    
}

.subs-form{
    width: 948px;
    height: 72px;
    margin-bottom: 36px;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(105, 115, 121);

}

.subs-section {
    height: 76px;
    box-sizing: border-box;
    float:left; 
    justify-content: stretch;
}

.suscripciones{
    width: 458px;
    height: 26px;
    padding-right: 16px;
    margin-bottom: 16px;
    margin-top: 0px;
    font-size: 0.9em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.subs-email{
    width: 474px;
    height: 76px;
    box-sizing: border-box;
    float: right;
}

.email-promos{
width: 361px;
height: 44px;
margin-bottom: 32px;
padding: 0px 12px;
border-width: 1px;
color: rgb(44, 44, 44);
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 2px 0 0 2px;
}

.email-promos:hover{
    cursor:text;
}
.email-promos:focus{
outline: 1px dotted black;
outline-offset: -3px;
}



.suscribirse-btn{
    float: right;
    width: 113px;
    height: 44.2px;
    padding: 13px 13px 11px 13px;
    border: 0px;
    border-radius: 2px;
    background: #697379;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
}

.suscribirse-btn:hover {
    cursor: pointer;
    background: #37454D;
    
}

.suscribirse-btn:active {
    background: #37454D;
}

.suscribirse-btn:focus{
    background: #37454D;
    outline: 1px dotted white;
    outline-offset: -3px;
}

.subs-text{
    color:white;
    
    font-weight: 700;
}

.footer-direction{
    width: 980px; 
    height: 122px; 
    margin-left: auto; 
    margin-right: auto;
}

.direction{
    width:622px;
    height: 122px;
    padding: 0px 16px;
    float: left;

}

.footer-address{
    width: 605px;
    height: 22px;
    padding-right: 16px;
    margin-bottom: 32px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 0.9em;
}

.social-media{
    width: 621.33px;
    height: 36px;
    margin-bottom: 32px;
    padding: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    
}

.footer-social-media{
    display: inline-block;
    margin-right: 6px; 
    vertical-align: middle;
}


.footer-others{
    width: 980px; 
    height: 164px; 
    padding-bottom:16px; 
    margin-right:auto; 
    margin-left:auto;
}

.footer-items{
    width: 326.5px;
    /* height: 132px; */
    padding: 0px 16px;
    margin-bottom: 32px;
    margin-top: 0px;
    list-style: none;
    float: left;
}

.footer-list{
 color:white;
 line-height: 22px;
 width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 0.9em;
}

.footer-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footer-link:hover{
    text-decoration: underline;
    color: white;
}

.footer-country{
    width: 294px;
    height: 44px;
    padding: 0px 16px;
    margin-bottom: 32px;
    margin-top: 0px;
    float: right
}

.select-country{
    width: 294px;
    height: 44px;
    background-color: #293339;
    float: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0px 38px;
    -webkit-appearance: none;
}

.country-options{
    background-color: #293339;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0px 38px;
}
    
.footer-logo-copyright{
    padding:32px; 
    background: #37454D;
}

.display-hotels{
    display: block;
}

.no-display-hotels{
    display: none;
}