@media only screen and (min-width: 980px){
    .cities, .link-cities{
        width: 32%;
    }

    .internacional, .link-trivago-inter{
        width: 30%;
    }
}

@media only screen and (max-width: 720px){

    .parrafo-info{
        width: 100%;
        float: left;
 }
}


@media only screen and (min-width: 920px){
    .h3{
        font-size: 20;
    }

}

@media only screen and (max-width: 980px){
    .menu-button{
        display: none;
    }

    .search-bar{
        width: -webkit-fill-available;
        margin-left: 10px;
        margin-right: 0px; 
    }

    .micon{
        display: block;
    }
    .calendar{
        display:none;
    }
    #rooms{
        display:none;
    }
    .cities, .link-cities{
        width: 45%;
    }

    .internacional, .link-trivago-inter{
        width: 45%;
    }
    
     .destinations{
        display:none;
    } 

    #dot-slider7{
    display: -webkit-inline-box;
    }

    .slider-control{
        margin: 0px 471px;
    }

    #destinations{
        display:none;
    }

    #destinations-btn{
        display:none;
    }

    #destinations1{
        display: block;
    }

    #destinations-btn1{
        display: block;
    }

    .subs-section{
        width: 100%;
        display:contents;
    }

    .subs-email{
        width: -webkit-fill-available;
        display:flex;
        height: 76px;
        box-sizing: border-box;
    }
    .email-promos{
        width: -webkit-fill-available;
    }
    .suscripciones{
        width: 100%;
    }

    .subs-form{
        border:none;
    }
    .footer-registro-email{
        justify-content: center;
        height: 78px;
        padding: 0px 16px;
        margin: 0px auto 32px auto;
    }

    .footer-direction{
        width: inherit;
        
        /* height: 122px;
        margin-left: auto;
        margin-right: auto; */
    }

    .direction{
            /* width: auto; */
    height: 122px;
    padding: 0px 16px;
    /* float: left; */
    margin: 66px 0px;
    position: absolute;
    /* padding-top: 54px; */
    /* padding-bottom: 54px*/
    }

    .footer-country{
        width: -webkit-fill-available;
    }

    .select-country{
        width: -webkit-fill-available;
    }

    .footer-others{
        height: 400px;
        margin-top:60px;
    }

    .footer-items{
        width: 326.5px; 
        padding: 0px 16px;
        margin-bottom: 0px;
        margin-top: 17px;
        list-style: none;
        float: none;
    } 

}

@media (min-width: 576px) {

    /* show 3 items */
     .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(50%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    #profile-grid { overflow: auto; white-space: normal; }
    #profile-grid .profile { padding-bottom: 40px; }
    #profile-grid .panel { padding: 0 }
    #profile-grid .panel-body { padding: 15px }
    #profile-grid .profile-name { font-weight: bold; }
    #profile-grid .thumbnail {margin-bottom:6px;}
    #profile-grid .panel-thumbnail { overflow: hidden; }
    #profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
}